.FooterBlock {
  display: flex;
  position: relative;
  bottom: 0;
  background-color: black;
  color: var(--text-color);
  justify-content: space-between;
  width: 100%;
  padding: 0;
  align-items: center;
  font-size: 0.875rem;
}
.row_logo > img {
  align-items: center;
  width: 100px;
  height: auto;
  padding: 0%;
  margin-left: 6rem;
}
.row_center {
  list-style: none;
}
.row_right {
  padding-left: 0;
  margin-right: 6em;
  list-style: none;
}
.row_right > ul {
  padding: 0;
}
.row_right > li {
  font-size: 1rem;
}
.row_right > li > p {
  margin: 0.3em;
}
.row_right > li > p > i {
  font-size: 0.8rem;
}

@media screen and (max-width: 50.938em) {
  .row {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items: center;
    font-size: 0.875rem;
  }
  .row_logo img {
    align-items: center;
    width: 100px;
    height: auto;
    padding: 0%;
    margin-left: 3rem;
  }
  .row_center {
    list-style: none;
  }
  .row_right {
    padding-left: 1em;
    margin: 0 1em 0 2em;
    list-style: none;
  }
  .row_right > ul {
    padding: 0;
  }
  .row_right > li {
    font-size: 0.75rem;
  }
  .row_right > li > p {
    margin: 0.3em;
  }
  .row_right > li > p > i {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 37.875em) {
  .row {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items: center;
    font-size: 0.875rem;
  }
  .row_logo img {
    align-items: center;
    width: 70px;
    height: auto;
    padding: 0%;
    margin-left: 2rem;
  }
  .row_center {
    list-style: none;
  }
  .row_right {
    padding-left: 1em;
    margin: 0 1em 0 2em;
    list-style: none;
  }
  .row_right > ul {
    padding: 0;
  }
  .row_right > li {
    font-size: 0.75rem;
  }
  .row_right > li > p {
    margin: 0.3em;
  }
  .row_right > li > p > i {
    font-size: 0.6rem;
  }
}
/* footer css end */
